<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>cdda捏脸</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Vue -->
		<script src="../../common/js/vue.js"></script>
		<!-- css默认框架 -->
		<link rel="stylesheet" type="text/css" href="../../common/css/flex.min.css"/>
		<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<!-- 消息框 -->
		<script src="../../common/js/msg.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			html,body{background-color: #fff;}
		</style>
	</head>
	<body>
		<!-- 容器 -->
		<div id="app">
			<div v-if="!phone&&ss" key="dev-pc" v-cloak>
				<div class="flex align-start" v-show="false"
				style="width:810px; padding: 20px; border-radius: 5px; margin: 0 auto; background-color: #343A40;">
					<div class="flex flex-column align-center">
						<p style="margin: 10px; color: #FFFFFF;">效果</p>
						<div style="width: 100px;height: 100px;background-color: #eae4e4;border-radius: 5px;position: relative;">
							<img :src="'img/'+ss[idx].path+'/'+img+'.png'" :id="'ss'+idx" v-for="(img,idx) in show" class="show" v-if="ss[idx].max&&img!=0">
						</div>
						<div class="flex-column align-center justify-center" style="display: flex;" v-show="false">
							<canvas id="myCanvas" width="32" height="32"
							style="margin-top: 10px;border: 1px solid #fff;">
							</canvas>
							<p class="text-white" style="font-size: 14px; margin-top: 10px;">右键进行保存</p>
						</div>
						<div class="flex flex-column align-center justify-center">
							<div class="btn" @click="save()">生成</div>
							<div class="btn" @click="init()">重置</div>
						</div>	
					</div>
					<div style="margin-left: 20px; flex: 1;">
						<div class="flex">
							<span style="margin: 5px; margin-bottom: 10px;" v-for="(v,i) in classTab"
							:class="onClass==i?'on-class':'classtap'" @click="changeClass(i)" v-cloak>{{v.title}}</span>
						</div>
						<div class="flex-1 flex hide-scroll" style="padding-left: 5px;">
							<div v-for="(tab,index) in ss" class="tab" :class="{'on-tab':onTab==index}" style="padding: 5px 8px;cursor: pointer;
								border-radius: 10px 10px 0 0;" @click="changeTab(index)" v-if="tab.classTab==onClass">
								<span v-cloak>{{tab.name}}</span>
							</div>
						</div>
						<div class="flex-1 flex flex-wrap" style="padding: 10px; border-radius: 10px; background-color: #eae4e4;">
							<div class="flex flex-1 align-center justify-center" style="padding: 30px;" v-if="!ss[onTab].max">
								<span>这里和你的脑子一样空</span>
							</div>
							<div class="item flex align-center justify-center" :class="{'on-item':show[onTab]==(i+1)}" v-for="(item,i) in ss[onTab].max"
							@click="selectShow(onTab,i+1)">
								<img :src="'img/'+ss[onTab].path+'/'+(i+1)+'.png'" :width="36*(!ss[onTab].zoom?1:ss[onTab].zoom)">
							</div>
						</div>
					</div>		
				</div>
			</div>
			<div v-else key="dev-phone" v-cloak>
				<div class="flex flex-column" style="background-color: #343A40; padding: 20px;">
					<p class="text-white text-center">人物创建</p>
					<div style="margin-top: 20px;" class="flex justify-between align-center">
						<div style="width: 80px;height: 80px;background-color: #eae4e4;border-radius: 5px;position: relative;">
							<img :src="'img/'+ss[idx].path+'/'+img+'.png'" :id="'ss'+idx" v-for="(img,idx) in show" class="show" v-if="ss[idx].max&&img!=0">
						</div>
						<div class="flex flex-column align-center justify-center">
							<div class="btn" @click="save()">生成</div>
							<div class="btn" @click="init()">重置</div>
						</div>
						<div class="flex-column align-center justify-center" style="display: flex;" v-show="false">
							<canvas id="myCanvas" width="32" height="32"
							style="margin-top: 10px;border: 1px solid #fff;">
							</canvas>
							<p class="text-white" style="font-size: 14px; margin-top: 10px;">长按保存</p>
						</div>
						
					</div>
					<div style="margin-top: 20px;">
						<div class="flex">
							<span style="margin: 5px; margin-bottom: 10px;" v-for="(v,i) in classTab"
							:class="onClass==i?'on-class':'classtap'" @click="changeClass(i)" v-cloak>{{v.title}}</span>
						</div>
						<div class="flex-1 flex hide-scroll">
							<div v-for="(tab,index) in ss" class="tab flex-shrink" :class="{'on-tab':onTab==index}" style="padding: 5px 8px;cursor: pointer;
								border-radius: 10px 10px 0 0;" @click="changeTab(index)" v-if="tab.classTab==onClass">
								<span style="font-size: 13px;" v-cloak>{{tab.name}}</span>
							</div>
						</div>
						<div class="flex flex-wrap" style="align-content: flex-start; height: 400px; padding: 10px; border-radius: 10px; background-color: #eae4e4;">
							<div class="flex flex-1 align-center justify-center" style="padding: 30px;" v-if="!ss[onTab].max">
								<span>这里和你的脑子一样空</span>
							</div>
							<div class="item flex align-center justify-center" v-if="ss[onTab].del"
							@click="selectShow(onTab,0)">
								<span style="font-size: 13px;">留空</span>
							</div>
							<div class="item flex align-center justify-center" :class="{'on-item':show[onTab]==(i+1)}" v-for="(item,i) in ss[onTab].max"
							@click="selectShow(onTab,i+1)">
								<img :src="'img/'+ss[onTab].path+'/'+(i+1)+'.png'" :width="36*(!ss[onTab].zoom?1:ss[onTab].zoom)">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
	<!-- vue实例 -->
	
	<script type="module">
		import cate from './category.js'
		
		var app = new Vue({
		  el:'#app',
		  data: {
			  phone:false,
			  onTab:0,
			  onClass:0,
			  classTab:[
				  {
					  title:'基本',
					  default:0
				  }
			  ],
			  show:{0:1},
			  ss:[
				  {
				  	  "name":"底图",//名称
				  	  "path":"1",//文件夹路径
				  	  "default":1,//默认选中
				  	  "max":2,//物品数量
				  	  "classTab":0,//分类
				  	  "zoom":1,//显示缩放倍数
				  	  "del":false//是否允许不穿戴 默认true
				  }
			  ],
		  },
		  mounted() {
			if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
				this.phone = true
			}else{
				this.phone = false
			}
			this.init()
		  },
		  created(){
			  if(cate.cate){
				  this.ss = cate.cate
				  this.classTab = cate.menu
			  }  
		  },
		  methods:{
			init(){
				var arr = cate.cate
				var obj = {}
				arr.forEach((v,i)=>{
					obj[i] = v.default
				})
				
				this.show = obj
			},
			changeClass(index){
			  	this.onClass = index
				this.onTab = this.classTab[index].default
			},
			changeTab(index){
				this.onTab = index
			},
			selectShow(i,val){
				this.show[i] = val
			},
			save(){
				var c=document.getElementById("myCanvas");
				var ctx=c.getContext("2d");
				var obj = this.show
				Object.keys(obj).forEach((v,i)=>{
					console.log(v)
					if(!this.ss[i].max||this.show[v]==0){
						return false;
					}else{
						var img=document.getElementById("ss"+i);
						ctx.drawImage(img,0,0);
					}
				   
				});
				this.canvasToImage(c)
				msg.success('生成成功')
			},
			canvasToImage(canvas) {
				this.download(canvas.toDataURL("image/png"));
			},
			// 另存为图片
			download(src) {
			 var $a = $("<a></a>").attr("href", src).attr("download", "img.png");
			 $a[0].click();
			}
		  }
		  
		})
	</script>
	<style type="text/css">
		::-webkit-scrollbar{
		　　display:none;/*ChromeSafari*/
		}
		.hide-scroll{scrollbar-width:none;-ms-overflow-style:none;/*IE10+*/margin:0 8px; overflow-x: auto;}
		.tab{background-color: #7c7c7c; color: #FFFFFF;margin:0 3px;}
		.on-tab{background-color: #eae4e4; color: #333;}
		.item{width: 48px;height: 48px;background-color: #FFFFFF;border-radius: 5px;margin: 5px;border: 2px solid #fff;}
		.on-item{width: 48px;height: 48px;background-color: #FFFFFF;border-radius: 5px;margin: 5px;border: 2px solid #e1c018;}
		.show{
			position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%); width: 60%; height: 60%;
		}
		.btn{color: #fff; background-color: #0062CC;padding: 6px 30px;margin: 5px 10px 0 10px;cursor: pointer;}
		.classtap{color: #FFFFFF;;padding: 5px 10px;border-radius: 20px;cursor: pointer;}
		.on-class{background-color: #FFFFFF;color: #333;padding: 5px 10px;border-radius: 20px;cursor: pointer;}
	</style>
</html>
